ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.logo-header {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.nav-links {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #212121;
  text-decoration: none;
}
.nav-links :hover,
.nav-links :focus {
  color: #2196f3;
}
.contact-links-header {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #757575;
  text-decoration: none;
}
.contact-links-header :hover,
.contact-links-header :focus {
  color: #2196f3;
}
.section-first {
  background: #2f303a;
  height: 600px;
  width: 1600px;
  left: 0px;
  top: 80px;
  border-radius: 0px;
}
.section-first-title {
  font-family: Roboto, sans-serif;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
}
.button-service {
  background-color: #2196f3;
  height: 50px;
  width: 200px;
  left: 700px;
  top: 430px;
  border-radius: 4px;

  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
}
.title-section-two {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #212121;
}
.text-section-two {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757575;
}
.title-section-tree {
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
.secttion-four {
  background-color: #f5f4fa;
}

.image-name-studio {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.03em;

  color: #212121;
}
.image-text-studio {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.03em;

  color: #757575;
}
.image-background {
  background-color: #ffffff;
}
.logo-footer {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
}
.logo-background-footer {
  width: 1600px;
  height: 252px;
  background-color: #2f303a;
}
.contact-links-footer {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff99;
  text-decoration: none;
}
.address-footer {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
}

.button-portfolio :hover,
.button-portfolio :focus {
  background-color: #2196f3;
  color: #ffffff;
}
.button-all {
  height: 38px;
  width: 73px;
  left: 495px;
  top: 174px;
  border-radius: 4px;
}
.button-web-site {
  height: 38px;
  width: 128px;
  left: 576px;
  top: 174px;
  border-radius: 4px;
}
.button-apps {
  height: 38px;
  width: 145px;
  left: 712px;
  top: 174px;
  border-radius: 4px;
}
.button-design {
  height: 38px;
  width: 103px;
  left: 865px;
  top: 174px;
  border-radius: 4px;
}
.button-marketing {
  height: 38px;
  width: 130px;
  left: 976px;
  top: 174px;
  border-radius: 4px;
}
.image-name-portfolio {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: left;

  color: #212121;
}
.image-text-portfolio {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: left;

  color: #757575;
}
